//flex布局
@mixin flexBox{
  display: flex;
}
@mixin justifyContent{
  justify-content:center;
}

@mixin alignContent {
  align-content:center;
}

@mixin flex1{
  flex:1;
}
@mixin justifyBetween{
  justify-content:space-between
}
